/*
vamos a crear animaciones con el uso de css
a partir de condionales
@palabras reservadas
*/
/*transicion de colores*/
@keyframes animacion_test{
    from{
        background-color: rgb(127, 241, 74);
    }
    to{
        background-color: rgb(160, 39, 197);
    }
}

/*transformacion para que gire un circulo*/

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/*para que gire mi carita kawaii*/

@keyframes label-animation{
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg);
        margin-left: 85vw;
    }
}

.container-label{
    
    width:100%;
    padding: 1rem;
    box-sizing: border-box;
}

.label{
    width: 64px;
    background-color: rgb(60, 189, 85);
    color:white;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    /*aqui va la animacion*/
    animation-name: label-animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loader{
    width: 64px;
    height: 64px;
    border: 5px solid rgb(90, 180, 220);
    border-top: 5px solid rgb(10, 100, 20);
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

.loader-double{
    width: 64px;
    height: 64px;
    border: 16px solid rgb(30, 230, 220);
    border-top: 16px solid rgb(250, 50, 100);
    border-bottom: 16px solid rgb(45, 45, 20);
    border-radius: 50%;
    animation: girar 2s ease-in-out infinite;
}

.animada{
    width: 100%;
    background-color: red;
    color:white;
    text-align: center;
    height: 200px;
    display:inline-block;
    justify-content:center;
    align-items: center;
    animation-name: animacion_test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}