.fond{
    position: absolute;
    padding-top:85px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #00506b;

}

.style_prevu_kit{
    display:inline-block;
    border:0;
    width: 196px;
    height: 210px;
    position: relative;
    -webkit-transition: all 200ms ease-out;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-out;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-out;
    -moz-transform: scale(1);
}

.style_prevu_kit:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-out;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-out;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-out;
    -moz-transform: scale(1.5);
}